* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.weather-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 10px;
}

.current-weather-info {
  min-width: 500px;
  padding: 10px;
}

.weather-info {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.weather-info > img {
  height: 50px;
}

.temp-representaion {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 100px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
